{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="" method="POST" class="form-horizontal">{{ form.hidden_tag() }}
        	<h3 class="text-center">Please Login!</h3>
            <div class="form-group">
                  <div class="col-sm-12">
                  {{ form.email.label(class="col-sm-4 control-label") }}
                  {% if form.email.errors %}
                    {{ form.email(class="col-sm-4 form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.email(class="col-sm-4 control-label") }}
                  {% endif %}
                </div>
              </div>
               <div class="form-group">
                  <div class="col-sm-12">
                  {{ form.password.label(class="col-sm-4 control-label") }}
                  {% if form.password.errors %}
                    {{ form.password(class="col-sm-4 form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.password(class="col-sm-4 control-label") }}
                  {% endif %}
                </div>
              </div>   
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-12">
              <div class="checkbox">
                  {{ form.remember(class="form-check-input") }}
                  {{ form.remember.lable(class="form-check-label") }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    {{ form.submit(class="btn btn-block btn-outline-info") }}
                </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="col-sm-offset-4">
        	<p class="text-muted">
        		To create new account go to register form <a href="{{ url_for('user_register') }}" title="">Register</a>
             <a href="#" title="">Forget Password</a>
        	</p>
        </div>
    </div>
</div>
{% endblock content %}

