{% extends '/base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="" method="POST" class="form-horizontal">{{ form.hidden_tag() }}
          <h3 class="text-center">Registration form</h3>
          <br>
          <div class="form-group">    
            <div class="col-sm-12">
              {{ form.username.label(class="col-sm-4 control-label") }}
              <!-- This is check the username if is correct -->
              {% if form.username.errors %}
                {{ form.username(class="col-sm-4 form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
              {% else %}
                  {{ form.username(class="col-sm-4 control-label") }}
              {% endif %}
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-12">
              {{ form.email.label(class="col-sm-4 control-label") }}
              {% if form.email.errors %}
                {{ form.email(class="col-sm-4 form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
              {% else %}
                  {{ form.email(class="col-sm-4 control-label") }}
              {% endif %}
            </div>
          </div>
           <div class="form-group">
              <div class="col-sm-12">
              {{ form.password.label(class="col-sm-4 control-label") }}
              {% if form.password.errors %}
                {{ form.password(class="col-sm-4 form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
              {% else %}
                  {{ form.password(class="col-sm-4 control-label") }}
              {% endif %}
            </div>
          </div>
           <div class="form-group">
              <div class="col-sm-12">
              {{ form.confirm_password.label(class="col-sm-4 control-label") }}
              {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="col-sm-4 form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
              {% else %}
                  {{ form.confirm_password(class="col-sm-4 control-label") }}
              {% endif %}
              
            </div>
          </div>
         
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
              {{ form.submit(class="btn btn-block btn-outline-info") }}
            </div>
          </div>
        </form>
        <hr>
        <div class="col-sm-offset-6">
        	<span class="text-muted">
        		Already register <a href="{{ url_for('user_login') }}" title="">Login</a>
        	</span>
        </div>
    </div>
</div>
{% endblock content %}

