body {
	padding-bottom: 0px;
	background-color: #fff;
}

.navbar-wrapper {
	background-color: #d6e0f5;
}

footer.container-fluid {
	background-color: #fff;
	color: #000;
}

@media (min-width: 768px)
.navbar-wrapper {
    margin-top: 5px;
}